HOPSWORKS_PROJECT=project_mlops
HOPSWORKS_API_KEY=xxx
HOPSWORKS_HOST=eu-west.cloud.hopsworks.ai
HOPSWORKS_PORT=443
HOPSWORKS_FEATURE_GROUP_NAME=uv_features
HOPSWORKS_FEATURE_VIEW_NAME=uv_feature_view
HOPSWORKS_REALTIME_FEATURE_GROUP_NAME=uv_features_realtime
HOPSWORKS_MODEL_NAME=uv_risk_model